@{
    ViewBag.Title = "Index";
}


@section JavaScript{
    <script>
        var peopleHub = $.connection.peopleHub;

        function person2(id, name) {
            var self = this;
            self.id = ko.observable(id);
            self.name = ko.observable(name);
        }

        function person(pers) {
            var self = this;

            self.id = ko.observable(pers.Id);
            self.name = ko.observable(pers.Name);
        };

        function peopleViewModel() {
            var self = this;
            self.people = ko.observableArray([]);


            
            $.connection.hub.start().done(function() {
                peopleHub.server.getAll().done(function (data) {
                    

                    self.people($.map(data, function(item) {

                        return new person(item);
                    }));

                    self.people.push(new person2(22, "barry"));


                });
            });

        };

        $(function() {

            


            var vm = new peopleViewModel();

            ko.applyBindings(vm);

            peopleHub.client.addPersonToPage = function (id, name) {
                vm.people.push(new person2(id, name));
                
            };

            
            $("#clickme").click(function () {
                
                peopleHub.server.push();

                vm.people.push(new person2(3, "Matt"));
                
            });
        });


    </script>
   
}

<p>Test</p>

<table>
    <tbody data-bind="foreach: people">
        <tr>
            <td data-bind="text: id"></td>
            <td data-bind="text: name"></td>

        </tr>
    </tbody>
</table>
<input id="clickme" type="button"/>









