@{
    ViewBag.Title = "Index";
}


@section JavaScript{
    <script>

        var vm;

        function person(pers) {
            var self = this;

            self.id = ko.observable(pers.Id);
            self.name = ko.observable(pers.Name);
        };

        function peopleViewModel() {
            var self = this;
            self.people = ko.observableArray([]);

            var peopleHub = $.connection.peopleHub;
            $.connection.hub.start().done(function() {
                peopleHub.server.getAll().done(function(data) {

                    var peopleMapping = $.map(data, function(item) {

                        return new person(item);
                    });
                    self.people(peopleMapping);
                });
            });
            
        };

        $(function() {

 
            vm = new peopleViewModel();

            ko.applyBindings(vm);
        });


    </script>
   
}

<p>Test</p>

<table>
    <tbody data-bind="foreach: people">
        <tr>
            <td data-bind="text: id"></td>
            <td data-bind="text: name"></td>

        </tr>
    </tbody>
</table>









